<!-- FILE: _includes/gtm_head.html — Google Tag Manager main script snippet, placed in <head>. -->
{% if site.gtm %}
  <!-- Google Tag Manager -->
  <script>
    // Asynchronously load the Google Tag Manager container script
    (function(w,d,s,l,i){
      w[l]=w[l]||[];
      // Push event timestamp to indicate GTM container start
      w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
      
      var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),
          dl=l!='dataLayer'?'&l='+l:'';
      
      j.async=true;
      // Build GTM URL using configured Container ID from site.gtm
      j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
      f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ site.gtm }}');
  </script>
  <!-- End Google Tag Manager -->
{% endif %}
