/* Force the main content area to 75% width */
main.container-md, 
main.container-lg, 
.container, 
.container-fluid {
    max-width: 75% !important;
    width: 75% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}
