@import url('https://fonts.googleapis.com/css2?family=Julia+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Great+Vibes&family=Montserrat:wght@400;700&display=swap');


/* 1. Reset the Bootstrap columns to be full-width of their parent */

main .col-xl-8, 
main .col-lg-10 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
}

/* Target only the container inside the header */
.intro-header .container-md, 
.intro-header .container-lg, 
.intro-header .container {
    max-width: 1200px !important;
    width: 100% !important;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
/* Reduce the width of the main body content only */
main.container-md {
    max-width: 65% !important; /* Change this % to make it narrower */
    width: 65% !important;
    margin: 0 auto !important; /* Keeps the narrow body centered */
}
h1 {
    font-size: 1.5rem;
}

h1, h2, .term-title {
  font-family: 'Amatic SC', sans-serif !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.term-title {
    font-size: 2.5rem !important;
}

.poet-entry {
    font-size: 0.85rem;
}

.post-meta, h3{
    font-family: 'Vibes' !important;
    font-weight: bold !important;
    font-size: 1.25rem !important;
}

.post-title {
    font-family: 'Vibes' !important;
}


/* Apply it to the whole body or specific elements */
body, p, div {
    font-family: 'Montserrat' !important;
    font-weight: 300 !important;
    font-size: 1.0rem;
}

/* Specifically for the Category/Post Meta as you asked earlier */
.blog-tags, .post-categories, .blog-tags, .page-subheading {
    font-family: 'Amatic SC' !important;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.navbar .nav-link {
  font-size: 0.85rem;
}
